.content {
  top: 40px;
  position: relative;
  width: 100%;
  min-height: 500px;
}

.main {
  margin: 10px 10px;
  margin-bottom: 40px;
}

.menu ul.menus li {
  padding: 3px 0;
}

.menu .menus .submenus {
  margin-left: 15px;
}

.argument {
  color: #03A7F5;
}

.description {
  margin-left: 30px;
}
