<h1>Overview</h1>
<ul>
  <li>Performs validation on ember object.</li>
  <li>Provides facility to perform validation on submit or focus out.</li>
  <li>Provides facility to perform validation when user starts typing, based on computed property rather using observer.</li>
  <li>Returns validation result as promise.</li>
  <li>Provides facility to return result as regular object rather than promise.</li>
  <li>Supports nested property validation.</li>
</ul>
