<h1>ssn</h1>

{{ev-rules validator=model.validator}}

<h2>How to use?</h2>
<pre><code>
  ssn: {
    format1: true,
    message: "Invalid ssn"
  }

  ssn: {
    all: true,
    message: "Invalid ssn"
  }

  ssn: true
  ssn: 'Invalid ssn'

</code></pre>
